<html lang='en'>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
    <header>
      <img
        src='/img/logo.jpg'
        alt='Meadowlark Trabel Logo'
        style='width: 1000px; height:500px'
      />
    </header>
    {{{body}}}
  </body>
</html>